.block {
    padding-top: 5px;
    background-color: #5254D8;
    font-weight: bold;

}

.rem {
    margin: 10px;
}
.one{
    padding-bottom: 100px;
  }

.text-center {
    padding-left: 22px;
}

.heading {
    color: white;
}
.abc{
    margin-top: 2rem;
}
.card{
    margin-top: 60px;
    margin-bottom:60px;
}