.carousel{
    height: 80vh;
    margin-top: 4vh;
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-inner{
    height: 85vh;
}

.carousel-indicators button{
opacity:0;
}

.carousel-item img{
    height: 80vh;
}