.navbar{
  background-color: #5254D8;
  margin-bottom: 20px;
}

.navbar-collapse{
  flex-grow: 0 !important;
}
.nav-brand{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand-logo{
  height: 65px;
}

.nav-brand-heading{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: 'Cantarell', sans-serif;
}

.NavLink:hover{
  color: black !important;
  background-color:white;
  border-radius:20px;
}
