.services{
    margin-top:100px;
    margin-bottom:200px;
}
.heading{
    font-size:40px;
    font-family: Rubik;
    text-align: center;
    font-weight: 600;
    margin: 20px;
}
.data{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    text-align:center;
    justify-content:center;
}